{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section-a find-rides-displays">
    <div class="container ">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">{{ header }}</h2>
                <form method="post" action="{% url action %}" style="width: 500px">
                    {% crispy form helper %}
                </form>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive find-rides-displays" src="{% static image %}" >
            </div>
        </div>
    </div>
    </div>

{% endblock %}