{% extends "base.html" %}

{% block content %}
    <h2 class="section-heading"> Thanks for confirming your ride.</h2>
    <div class="lead">We have sent you an email with your ride details. Please contact the driver directly to coordinate your ride the day of. <br> For whatever reason if you can't make your ride, please cancel your reservation online so your seat opens up for someone else to use.</div>
    <div class="lead"> Thanks for using LezzGo!</div>
    <h3 class="section-heading">Have a great trip</h3>
{% endblock %}